/*
	Ivan Chacon
	META+Lab Challenge 1 : Floats & Positioning 
	April 20, 2016
	//revision- July 2016
*/


.wrapper {
	margin:0 auto;
	color: #000000;
    width: 1000px;
	height: 800px;
}

.common {
	float: left;
}

.commonR {
	float: right;
}

.row{
	width: 600px;
	height: 100px;
}

.rowL{
	height:50px;
	width:400px;
}

.row3A{
	height:400px;
	width:200px;
}

.row3B{
	height:400px;
	width:300px;
}

.thinBar{
	height:50px;
	width:300px;
}

.squareL {
	width:200px;
	height:200px;
}

.squareM {
	width:100px;
	height:100px;
}
.squareS {
	width:50px;
	height:50px;
}
.squareS2 {
	width:100px;
	height:50px;
}

/*---COLORS---*/
.red{
	background-color: #CE1126;
}
.yellow{
	background-color: #F8E71C;
}
.grey{
	background-color: #D8D8D8;
}
.lightBlue {
	background-color: #50E3C2;
}
.greenL {
	background-color: #7ED321;
}
.greenD {
	background-color: #417505;
}
.black {
	background-color: #4A4A4A;
}
.orange {
	background-color: #F5A623;
}
.violet {
	background-color: #BD10E0;
}
.white {
	background-color: #FFFFFF;
}

#blueRect.common{
	height: 200px;
	width: 400px;
	background-color: #4A90E2;
}

#largeYellow.common.squareL {
	background-color: #F8E71C;
}
#largeGrey.common.squareL {
	background-color: #D8D8D8;
}

#redRec.common.red {
	width:100px;
	height:200px;
}

#greenRec.common.greenD{
	width:200px;
	height:50px;
	background-color: #417505;
}

#purpleRect.common{
	width:400px;
	height:100px;
	background-color: #9013FE;
}

#blackInGrey.squareS.black{
	margin:75px;
}

#blackInBlue.squareS.black.common{
	margin: 75px 50px 0px 50px;
}

#blackInBlue2.squareS2.black.common{
	margin: 75px 0px 0px 0px;
}


